<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>CSV Upload</title>
</head>
<body>
  <div class="container">
    <h1>Aurora</h1>
    <form action="/upload" method="post" enctype="multipart/form-data">
      <div class="upload-btn-wrapper">
        <button class="btn"><span>CSV FILE UPLOAD</span></button>
        <input type="file" name="csvFile" id="csvFile"> <!-- Added id here -->
        <span id="upload-message"></span> <!-- Added this line for the message -->
      </div>
      <div class="input-section" id="input-section">
          <input type="text" name="question1" placeholder="Drop Here">
      </div>
      <button type="button" id="add-question">Question+1</button>
      <button type="button" id="remove-question">Remove Question</button>
      <input type="submit" value="Submit">
    </form>
  </div>
  <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
